
<!-- Grouping ngTable -->



<p><strong>Page:</strong> {{tableParams.page()}}
<p><strong>Count per page:</strong> {{tableParams.count()}}
<!-- <p>Filter: <input class="form-control" type="text" ng-model="filter.$" /></p> -->

<!-- <input type="text" class="form-control" placeholder="Search term" name="searchTerm" ng-model="globalSearchTerm" ng-change="applyGlobalSearch(globalSearchTerm)" required /> -->
<table ng-table="tableParams"  class="table grp-ng-table">
<!-- <input type="text" class="form-control" placeholder="Search term" name="searchTerm" ng-model="globalSearchTerm" /> -->
  <tbody ng-repeat="group in $groups">
      
      <tr class="ng-table-group">
          <td colspan="{{$columns.length}}">
              <a href="" ng-click="group.$hideRows = !group.$hideRows">
                  <span class="fa" ng-class="{ 'fa-chevron-right': group.$hideRows, 'fa-chevron-down': !group.$hideRows }"></span>
                  <strong>{{ group.value }}</strong>
              </a>
          </td>
      </tr>
      <tr ng-hide="group.$hideRows" ng-repeat="user in group.data">
        
        
      
          <td sortable="name" data-title="'Name'">
              {{user.name}}
          </td>
          <td sortable="age" data-title="'Age'">
              {{user.age}}
          </td>
      </tr>
  </tbody>
</table>